.header {
  box-sizing: border-box;
  height: 100%;
  height: 56px;
  position: sticky;
  top: 0px;
  background-color: #d28247;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  justify-content: space-between;
}
.form {
  border: 0px;
  height: 100%;
}
.logo {
  box-sizing: border-box;
  width: 270px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo-text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-weight: bold;
  font: 40px Roboto, sans-serif;
  text-align: left;
  text-transform: full-width;
  color: white;
  margin: 0;
  text-decoration: none;
}
.logo-text :hover {
  text-decoration-line: none;
}
.search-line {
  box-sizing: border-box;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.search {
  box-sizing: border-box;
  margin-left: 24px;
  margin-right: 24px;
  width: auto;
  background-color: #e1ac84;
  height: 100%;
  border-radius: 6px;
  display: flex;
}
.input {
  box-sizing: border-box;
  width: 100%;
  max-width: 1052px;
  background-color: #e1ac84;
  text-decoration-style: solid;
  border-style: solid;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-right-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  text-align: start;
  padding: 6px;
  padding-top: 11px;
  color: white;
}
::placeholder {
  color: white;
  font-size: 20px;
}
.button {
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  background-color: #9d4400;
  color: white;
  font: 20px Roboto, sans-serif;
  border-color: #9d4400;
  border-style: solid;
  border-radius: 6px;
}
.button:hover,
.button:focus {
  outline: 0;
  background-color: #843900;
  border-color: #843900;
}
.button-search {
  float: right;
  border-left-color: #9d4400;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-width: 0px;
}
.button-login {
  background-color: #d28247;
  color: #9d4400;
  margin-left: 7px;
  margin-right: 3px;
  border-width: 3px;
}
.button-login:hover,
.button-login:focus {
  background-color: #d7905b;
}
.button-signup {
  margin-left: 3px;
  background-color: #9d4400;
  border-width: 2px;
}
.login {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 270px;
  min-width: 220px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
article,
.logo,
button {
  cursor: pointer;
}
.recipe-block2 {
  height: 100px;
}
.recipe-name {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.title {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 40px Roboto, sans-serif;
  text-align: center;
  font-size: 50px;
  margin: inherit;
}
.recipe-image {
  display: flex;
  justify-content: center;
}
.test-recipe-image {
  box-sizing: border-box;
  height: 650px;
  width: 1000px;
  text-align: center;
  font: 35px Roboto, sans-serif;
}
.recipe-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}
.info-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.info-field-text {
  width: 206px;
  text-align: center;
  font: 25px Roboto, bold, sans-serif;
}
.info-fields {
  width: 206px;
  text-align: center;
  font: 30px Roboto, sans-serif;
}
.recipe-block3 {
  margin-top: 20px;
}
.description {
  text-align: justify;
  font: 20px Roboto, sans-serif;
}
form {
  border: 3px solid #f1f1f1;
}
.login-form-label {
  text-align: center;
}
.login-input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-buttons {
  background-color: #9d4400;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login-buttons :hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
form {
  border: 3px solid #f1f1f1;
}
.registration-form-label {
  text-align: center;
}
.registration-input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registration-input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.registration-buttons {
  background-color: #9d4400;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.registration-buttons:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
.user-info {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  hight: 300px;
}
.profile-photo {
  width: 300px;
  hight: 300px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}
.profile-name {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 40px Roboto, sans-serif;
  text-align: left;
  margin: 0;
}
.recipe-add {
  margin-top: 50px;
}
.profile-button {
  background-color: #9d4400;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.profile-button :hover {
  opacity: 0.8;
}
.profile-button .confirm-button {
  margin-top: 10px;
}
.admin-block {
  min-height: 350px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-of-type(odd) {
  background: #f4f4f4;
}
tr:nth-of-type(even) {
  background: #fff;
}
th {
  background: #5cb85c;
  color: #ffffff;
  font-weight: 300;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
td:nth-of-type(1) {
  font-weight: 500 !important;
}
td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
}
span {
  font-style: italic;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table.responsive,
  .responsive thead,
  .responsive tbody,
  .responsive th,
  .responsive td,
  .responsive tr {
    display: block !important;
  }
  .responsive thead tr {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
  }
  .responsive tr {
    border: 1px solid #ccc;
  }
  .responsive td {
    border: none;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 25% !important;
  }
  .responsive td:before {
    position: absolute !important;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap !important;
    font-weight: 500 !important;
  }
  .responsive td:before {
    content: attr(data-table-header) !important;
  }
}
.Site {
  background: white;
  height: 100%;
  box-sizing: border-box;
}
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 1152px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}
.block1 {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
}
.popular-label {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 16px;
  padding-left: 0;
}
.popular-label-text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font: 20px Roboto, sans-serif;
  text-align: left;
  margin: 0;
}
.block-line {
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  display: flex;
}
.recipe {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 220px;
  max-width: 220px;
  margin-left: 5px;
  margin-right: 5px;
}
.test-image-recommended {
  box-sizing: border-box;
  height: 200px;
  width: 220px;
  text-align: center;
  font: 35px Roboto, sans-serif;
}
.test-name {
  box-sizing: border-box;
  height: 40px;
  text-align: center;
}
.test-name-text {
  box-sizing: border-box;
  text-align: center;
  font: 18px Roboto, sans-serif;
  text-decoration: none;
  color: black;
}
.test-name-text :hover {
  text-decoration-line: underline;
}
.hidden {
  display: none!important;
}
.link {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font: 20px Roboto, sans-serif;
}
/*# sourceMappingURL=style.css.map */