<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
    <div th:replace="header :: myheader"></div>
</header>
<body class="Site">
<main class="content">
    <div class="user-info" >
        <div class="profile-photo" ><img src= "../static/images/adminphoto.jpg" class="profile-photo"></div>
        <div class="profile-info">
            <div class="profile-info"><div><a class="profile-name">Ім'я користувача: </a><a class="profile-name" th:text="getusername">Username</a></div></div>
            <div class="profile-info"><div><a class="profile-name" th:text="getusername">Тип доступу: Admin</a></div></div>
            <div class="profile-info"><div><a class="profile-name" th:text="getusername">Рецептів потрібно затвердити: 2</a></div></div>
        </div>
    </div>
    <h1 class="profile-h1">Форма створення рецепту</h1>

    <form class="profile-container">
        <label><b>Назва</b></label>
        <input class="recipe-input text" type="text" placeholder="Enter title" name="title" required>

        <label><b>Опис</b></label>
        <input class="recipe-input text" type="text" placeholder="Enter description" name="description" required>

        <label><b>Час приготування</b></label>
        <input class="recipe-input text" type="text" placeholder="Enter time" name="time" required>

        <label><b>Складність рецепту</b></label>
        <input class="recipe-input text" type="text" placeholder="Enter difficulty" name="difficulty" required>

        <label><b>Картинка рецепту</b></label>
        <input class="recipe-input text" type="text" placeholder="Enter img" name="img" required>

        <button type="submit" class="recipe-add-button">Додати рецепт</button>

    </form>
    <div class="block2">
        <div class="row">
            <div class="profile-container">
                <h1 class="profile-h1">Всі рецепти на сайті</h1>
                <table class="table-responsive" id="sort">
                    <thead>
                    <tr>
                        <th scope="col">Recipe Id</th>
                        <th scope="col">Title</th>
                    </tr>
                    </thead>
                    <tbody th:each="Recipe: ${recipes}">
                    <tr>
                        <td data-table-header="id" th:text="${Recipe.id}"></td>
                        <td data-table-header="title"><a th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
        <script  type="text/javascript" th:src="@{/function.js}" ></script>
    </div>
    </div>
</main>
</body>

</html>