<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="myheader">
    <link th:href="@{/style.css}"
          href="../static/style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Файні рецепти</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <div class="header">
        <div class="logo"><a class="logo-text" href="/">Файні рецепти</a></div>
        <div class="login">
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/login'" formaction="/login" type="submit" class="button button-login">Login</button>
            </form>
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/registerForm'" formaction="/register" type="submit" class="button button-signup">Sign Up</button>
            </form>
            <form class="form" sec:authorize="isAuthenticated()">
                <button  onclick = "window.location.href='/logout'" formaction="/logout" type="submit" class="button button-login">Logout</button>
            </form>
            <form class="form" sec:authorize="hasRole('ROLE_user')">
                <button  onclick = "window.location.href='/profile'" formaction="/profile" type="submit" class="button button-signup">Моя сторінка</button>
            </form>
            <form class="form" sec:authorize="hasRole('ROLE_admin')">
                <button  onclick = "window.location.href='/admin'" formaction="/admin" type="submit" class="button button-signup">Статистика</button>
            </form>
        </div>
    </div>
</div>
<div th:fragment="myheaderwithsearch">
    <link th:href="@{/style.css}"
          href="../static/style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Файні рецепти</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <div class="header">
        <div class="logo"><a class="logo-text" href="/">Файні рецепти</a></div>
        <div class="search-line">
            <form class="form" action="/find-recipes" method="post">
                <div class="search" th:href="@{/}">
                    <input class="input" type="text" name="searchInput" placeholder="Пошук рецептів">
                    <button  class="button button-search" data-tooltip="Додати товар до списку">Search</button>
                </div>
            </form>
        </div>
        <div class="login">
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/login'" formaction="/login" type="submit" class="button button-login">Login</button>
            </form>
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/registerForm'" formaction="/register" type="submit" class="button button-signup">Sign Up</button>
            </form>
            <form class="form" sec:authorize="isAuthenticated()">
                <button  onclick = "window.location.href='/logout'" formaction="/logout" type="submit" class="button button-login">Logout</button>
            </form>
            <form class="form" sec:authorize="hasRole('ROLE_user')">
                <button  onclick = "window.location.href='/profile'" formaction="/profile" type="submit" class="button button-signup">Моя сторінка</button>
            </form>
            <form class="form" sec:authorize="hasRole('ROLE_admin')">
                <button  onclick = "window.location.href='/admin'" formaction="/admin" type="submit" class="button button-signup">Статистика</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>