<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <link th:href="@{/style.css}"
          href="../static/style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Файні рецепти</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <div class="header">
        <div class="logo"><a class="logo-text" href="/">Файні рецепти</a></div>
        <div class="search-line">
            <div class="search" th:href="@{/}">
                <input class="input" type="text" name="nameInput" placeholder="Пошук рецептів">
                <button class="button button-search" data-tooltip="Додати товар до списку">Search</button>
            </div>
        </div>
        <div class="login">
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/login'" formaction="/login" type="submit" class="button button-login">Login</button>
            </form>
            <form class="form" sec:authorize="isAnonymous()">
                <button onclick = "window.location.href='/registerForm'" formaction="/register" type="submit" class="button button-signup">Sign Up</button>
            </form>
            <form class="form" sec:authorize="isAuthenticated()">
                <button  onclick = "window.location.href='/login'" formaction="/logout" type="submit" class="button button-login">Logout</button>
            </form>
        </div>
    </div>
</header>
<body class="Site">
<main class="content">
    <div class="block1">
        <div class="popular-label"><a class="popular-label-text">Рекомендовані рецепти</a></div>
        <div class="block-line popular-recipes" th:each="Recipe: ${popular}">
            <article class="recipe">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
            <article class="recipe">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
            <article class="recipe">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
            <article class="recipe">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
            <article class="recipe">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
        </div>
    </div>
    <div class="block2">
        <div class="popular-label"><a class="popular-label-text">Категорії рецептів</a></div>
        <div class="block-line category-recipes" th:each="Recipe: ${popular}">

        </div>
    </div>

    </div>
</main>
</body>

</html>