<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:replace="header :: myheader"></div>
</header>
<body class="Site">
<main class="content">
    <div class="block1">
        <div class="popular-label"><a class="popular-label-text">Рекомендовані рецепти</a></div>
        <div class="popular-tests" th:each="Recipe: ${popular}">
            <article class="test" >
                <img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended">
                <span class="test-name" th:text="${Recipe.title}" ></span>
            </article>
            <article class="test">
                <img src= "../static/images/test.png" th:src="@{/images/test.png}" class="test-image-recommended">
                <span class="test-name">Назва рецепту</span>
            </article>
            <article class="test">
                <img src= "../static/images/test.png" th:src="@{/images/test.png}" class="test-image-recommended">
                <span class="test-name">Назва рецепту</span>
            </article>
            <article class="test">
                <img src= "../static/images/test.png" th:src="@{/images/test.png}" class="test-image-recommended">
                <span class="test-name">Назва рецепту</span>
            </article>
            <article class="test">
                <img src= "../static/images/test.png" th:src="@{/images/test.png}" class="test-image-recommended">
                <span class="test-name">Назва рецепту</span>
            </article>
        </div>
    </div>
    <div class="block2">
        <div class="popular-label"><a class="popular-label-text">Категорії рецептів</a></div>
    </div>
    <div class="block3">
        <div class="popular-label"><a class="popular-label-text">Всі рецепти</a></div>

    </div>
</main>
</body>

</html>