<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org">
<header>
    <div th:replace="header :: myheaderwithsearch"></div>
</header>
<body class="Site">
<main class="content">
    <div class="block1">
        <div class="popular-label"><a class="popular-label-text">Рекомендовані рецепти</a></div>
        <div class="block-line popular-recipes">
            <article class="recipe" th:each="Recipe: ${popular}">
                <a th:href="@{/recipe/{id}(id = ${Recipe.id})}"><img src= "../static/images/test.png" th:src="${Recipe.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${Recipe.id})}" th:text="${Recipe.title}">Малиновий торт із морозивом</a></span>
            </article>
        </div>
    </div>
    <div class="block2">
        <div class="popular-label"><a class="popular-label-text">Усі рецепти</a></div>
        <div class="block-line category-recipes">
            <article class="recipe" th:each="rec: ${allRecipes}">
                <a th:href="@{/recipe/{id}(id = ${rec.id})}"><img src= "../static/images/test.png" th:src="${rec.img}" class="test-image-recommended"></a>
                <span class="test-name"><a class="test-name-text" th:href="@{/recipe/{id}(id = ${rec.id})}" th:text="${rec.title}">Малиновий торт із морозивом</a></span>
            </article>
        </div>
    </div>

    </div>
</main>
</body>

</html>