<!DOCTYPE html>
<html lang="en">
<header>
    <div th:replace="header :: myheader"></div>
</header>
<body>
<main class="content">
<h2 class="login-form-label"><a>Login Form</a></h2>
<form>
    <div class="container">
        <label><b>Username</b></label>
        <input class="login-input text" type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input class="login-input password" type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="login-buttons log-in">Login</button>

    </div>
</form>
</main>
</body>
</html>