<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <div th:replace="header :: myheader"></div>
</header>
<body>
<main class="content">
    <div class="recipe-block1">
        <div class="recipe-name">
            <span class="title" th:text="${recipe.title}"></span>
        </div>
        <div class="recipe-image">
            <img src="../static/images/test.png" th:src="${recipe.img}" class="test-recipe-image">
        </div>
    </div>
    <div class="recipe-block2">
        <div class="recipe-info">
            <div class="info-field">
                <span class="info-field-text">Автор</span>
                <span class="info-fields author" th:text="${creator.username}"></span>
            </div>
            <div class="info-field">
                <span class="info-field-text">Час приготування</span>
                <span class="info-fields time" th:text="${recipe.time}"></span>
            </div>
            <div class="info-field">
                <span class="info-field-text">Складність</span>
                <span class="info-fields complexity" th:text="${recipe.difficulty}"></span>
            </div>
        </div>
    </div>
    <div class="recipe-block3">
        <div class="description" th:text="${recipe.description}">
            Sed placerat accumsan ligula. Aliquam felis magna, congue quis, tempus eu, aliquam vitae, ante. Cras neque
            justo,
            ultrices at, rhoncus a, facilisis eget, nisl. Quisque vitae pede. Nam et augue. Sed a elit. Ut vel massa.
            Suspendisse nibh pede, ultrices vitae, ultrices nec, mollis non, nibh. In sit amet pede quis leo vulputate
            hendrerit.
            Cras laoreet leo et justo auctor condimentum. Integer id enim. Suspendisse egestas, dui ac egestas mollis,
            libero orci hendrerit lacus, et malesuada lorem neque ac libero. Morbi tempor pulvinar pede. Donec vel elit.
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">

        <div th:if="${session.liked.liked == 'yes'}">
            <form th:action="@{/delete-from-liked}" method="post" id="recipeDeleteForm">
                <button type="submit">Liked</button>
            </form>
        </div>

        <div th:if="${session.liked.liked == 'no'}">
            <form th:action="@{/add-to-liked}" method="post" id="recipeAddForm">
                <button type="submit">Like</button>
            </form>
        </div>
    </div>

</main>
</body>
</html>