<!DOCTYPE html>
<html lang="en">
<header>
    <div th:replace="header :: myheader"></div>
</header>
<body>
<main class="content">
    <h2 class="login-form-label"><a>Registration Form</a></h2>
    <form action="/registerForm" method="post">

        <div class="container">
            <label><b>Username</b></label>
            <input class="login-input text" type="text" placeholder="Enter Username" name="username" id="username" required>

            <label><b>Password</b></label>
            <input class="login-input password" type="password" placeholder="Enter Password" name="psw" id="psw" required>

            <div th:text="${problem}"></div>

            <button type="submit" class="login-buttons log-in">Registration</button>
        </div>

    </form>
</main>
</body>
</html>